# Python virtual env
venv/
.venv/

__pycache__/

# Node
node_modules/

# Env
.env
.env.local

# Logs
*.log

# OS
.DS_Store

# Chroma local database
backend/chroma_db/

# Next.js build
frontend/.next/

# Local data
data/